<div class="article">
  <h2>
    Ajouter un article
  </h2>

  <div *ngIf="currentStep === -1">
    <mat-list>
      <mat-list-item
        *ngFor="let cat of categories"
        class="pointer"
        (click)="selectCategorie(cat.uuid)">
        {{ cat.nom.fr }}

        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <mat-horizontal-stepper class="steppers" #addstepper>
    <mat-step
      [label]="step.label.fr"
      *ngFor="let step of fiche; let indexStep = index"
    >
      <header>
        <h3>{{ step.label.fr }}</h3>
      </header>
      <div>
        <div
          *ngFor="let ficheItem of step?.fiche" class="article-fiche">
          <div class="article-item">

            <mat-card *ngIf="ficheItem.type === 'image'">
              <mat-card-subtitle>{{ ficheItem.label.fr }}</mat-card-subtitle>
              <app-upload-file></app-upload-file>
            </mat-card>

            <mat-card *ngIf="ficheItem.type !== 'image'">
              <mat-form-field>
                <input [type]="ficheItem.type"
                       [placeholder]="ficheItem.label.fr"
                       matInput
                       [(ngModel)]="formData.fiche[ficheItem.key]" />
              </mat-form-field>
            </mat-card>

          </div>

        </div>

        <div class="button-row">
          <button
            class="pointer"
            mat-raised-button matStepperPrevious>&lt; Précédent</button>
          <button
            class="pointer"
            *ngIf="indexStep < totalStep - 1"
            mat-raised-button matStepperNext>Suivant &gt;</button>
          <button
            class="pointer"
            mat-raised-button
            *ngIf="indexStep >= totalStep - 1"
            (click)="add()">Terminer</button>
        </div>
      </div>

    </mat-step>
  </mat-horizontal-stepper>


  <!--
  <div
    *ngFor="let step of fiche; let indexStep = index"
  >
    <div class="article-item" *ngIf="indexStep === currentStep">
      <h3>{{ indexStep }}: {{ step.label.fr }}</h3>

      <div
        *ngFor="let ficheItem of step.fiche" class="article-fiche">
        <div class="article-item">
          <label>{{ ficheItem.label.fr }}</label>
          <input [type]="ficheItem.type"
                 [placeholder]="ficheItem.label.fr"
                 [(ngModel)]="formData.fiche[ficheItem.key]" />
        </div>

      </div>

      <div>
        <button
          class="pointer"
          (click)="previous(indexStep)">&lt; Précédent</button>
        <button
          class="pointer"
          *ngIf="indexStep < totalStep - 1"
          (click)="next(indexStep)">Suivant &gt;</button>
        <button
          class="pointer"
          *ngIf="indexStep >= totalStep - 1"
          (click)="add()">Terminer</button>
      </div>
    </div>

  </div>
  -->



  <!--
  <div class="article-item">
    <label>Catégorie</label>
    <select [(ngModel)]="formData.categorie" (ngModelChange)="changeCat($event)">
      <option *ngFor="let cat of categories" [value]="cat.uuid">{{ cat.nom.fr }}</option>
    </select>
  </div>

  <hr />

  <div class="article-item">
    <label>Titre</label>
    <input type="text"
           name="titre"
           placeholder="Titre"
           [(ngModel)]="formData.titre" />
  </div>
  <div class="article-item">
    <label>Description</label>
    <input type="text"
           name="description"
           placeholder="Description"
           [(ngModel)]="formData.description" />
  </div>
  <div class="article-item">
    <label>Prix cash</label>
    <input type="number"
           name="prix_cash"
           placeholder="Prix cash"
           [(ngModel)]="formData.prix_cash" />
  </div>
  <div class="article-item">
    <label>Lieu</label>
    <input type="text"
           name="lieu"
           placeholder="Lieu"
           [(ngModel)]="formData.lieu" />
  </div>
  <div class="article-item">
    <label>Adresse</label>
    <input type="text"
           name="adresse"
           placeholder="adresse"
           [(ngModel)]="formData.adresse" />
  </div>
  <fieldset>
    <legend>Détails</legend>
    <div>
      <div
        *ngFor="let ficheItem of fiche" class="article-fiche">
        <div class="article-item">
          <label>{{ ficheItem.label.fr }}</label>
          <input [type]="ficheItem.type"
                 [placeholder]="ficheItem.label.fr"
                 [(ngModel)]="formData.fiche[ficheItem.key]" />
        </div>

      </div>
    </div>
  </fieldset>
  <div class="text-center">
    <button class="pointer" (click)="add()">Ajouter</button>
  </div>
  -->
</div>
