.article {
  margin: 1em;
}
.article-item {
  margin: 0.5em 0;
}
.article-item input,
.article-item select {
  width: calc(100% - 2em);
}

@media (min-width:320px) {
  .article-fiche {
    display: block;
    width: 100%;
  }
}
@media (min-width:481px)  {
  .article-fiche {
    display: inline-block;
    width: 50%;
  }
}
@media (min-width:641px)  {
  .article-fiche {
    display: inline-block;
    width: 33.333%;
  }
}
@media (min-width:961px)  {
  .article-fiche {
    display: inline-block;
    width: 33.333%;
  }
}
@media (min-width:1025px) {
  .article-fiche {
    display: inline-block;
    width: 25%;
  }
}
@media (min-width:1281px) {
  .article-fiche {
    display: inline-block;
    width: 20%;
  }
}
@media (min-width: 1650px) {
  .article-fiche {
    display: inline-block;
    width: 16.5%;
  }
}
