.article {
  margin: 1em;
}
.article-item {
  margin: 0.5em 0;
}
.article-item input,
.article-item select {
  width: calc(100% - 2em);
}
.button-row > * {
  margin-right: 8px;
}
label {
  display: block;
}

@media (min-width:320px) {

}
@media (min-width:481px)  {

}
@media (min-width:641px)  {

}
@media (min-width:961px)  {

}
@media (min-width:1025px) {

}
@media (min-width:1281px) {

}
@media (min-width: 1650px) {

}
