<div class="article">
  <h2>Ajouter un article</h2>
  <div class="article-item">
    <label>Catégorie</label>
    <select [(ngModel)]="formData.categorie" (ngModelChange)="changeCat($event)">
      <option *ngFor="let cat of categories" [value]="cat.uuid">{{ cat.nom.fr }}</option>
    </select>
  </div>

  <hr />

  <div class="article-item">
    <label>Titre</label>
    <input type="text"
           name="titre"
           placeholder="Titre"
           [(ngModel)]="formData.titre" />
  </div>
  <div class="article-item">
    <label>Description</label>
    <input type="text"
           name="description"
           placeholder="Description"
           [(ngModel)]="formData.description" />
  </div>
  <div class="article-item">
    <label>Prix cash</label>
    <input type="number"
           name="prix_cash"
           placeholder="Prix cash"
           [(ngModel)]="formData.prix_cash" />
  </div>
  <div class="article-item">
    <label>Lieu</label>
    <input type="text"
           name="lieu"
           placeholder="Lieu"
           [(ngModel)]="formData.lieu" />
  </div>
  <div class="article-item">
    <label>Adresse</label>
    <input type="text"
           name="adresse"
           placeholder="adresse"
           [(ngModel)]="formData.adresse" />
  </div>
  <fieldset>
    <legend>Détails</legend>
    <div>
      <div
        *ngFor="let ficheItem of fiche" class="article-fiche">
        <div class="article-item">
          <label>{{ ficheItem.label.fr }}</label>
          <input [type]="ficheItem.type"
                 [placeholder]="ficheItem.label.fr"
                 [(ngModel)]="formData.fiche[ficheItem.key]" />
        </div>

      </div>
    </div>
  </fieldset>
  <div class="text-center">
    <button class="pointer" (click)="add()">Ajouter</button>
  </div>
</div>
