<div>
  <h2>Ajouter un article</h2>
  <form>
    <ul>
      <li>
          <label>titre</label>
          <input type="text" name="titre">
      </li>
      <li>
          <label>description</label>
          <input type="textarea" name="description">
      </li>
      <li>
          <label>date</label>
          <input type="datetime" name="date">
      </li>
      <li>
          <label>prix cash</label>
          <input type="number" name="prix_cash">
      </li>
      <li>
          <label>currency</label>
          <input type="text" name="currency">
      </li>
      <li>
          <label>lieu</label>
          <input type="text" name="lieu">
      </li>
      <li>
          <label>media</label>
          <input type="text" name="media">
      </li>
      <li>
          <label>categorie</label>
          <input type="text" name="categorie">
      </li>
      <li>
          <label>mensualite</label>
          <input type="text" name="mensualite">
      </li>
    </ul>
  </form>

</div>