footer {
    background-color: #001f5e;
    color: #FFFFFF;
    padding: 20px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.foot-social {
    float: right;
    margin: 10px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.foot-left, .fa {
    margin: 5px;
}

.fa-facebook-square:hover {
    color: #3d5998;
}

.fa-twitter-square:hover {
    color: #1da1f2;
}

.fa-instagram:hover {
    background: -webkit-linear-gradient(#ac429a, #f8cc25);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

i.fa {
    font-size: 30px;
    transition: 0.5s;
}

.lign-height2 {
    line-height: 2;
}