footer {
    background-color: #001f5e;
    color: #FFFFFF;
    padding: 20px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.foot-social {
    float: right;
    margin: 10px;
}

a {
    color: #FFFFFF;
}

.foot-left, .fa {
    margin: 5px;
}