<div class="article-detail">
  <div class="article-show-left">
    <div *ngIf="fiche?.images && fiche?.images?.length > 0" class="img-wrapper img-wrapper--shadow">
        <slideshow
                [minHeight]="'525px'"
                [autoPlay]="true"
                [showArrows]="true"
                [imageUrls]="ficheImages"
                [lazyLoad]="ficheImages?.length > 1"
                [showDots]="true"
                [autoPlayWaitForLazyLoad]="true">
        </slideshow>
    </div>
    <div class="traite">
      <!--span>A partir de <strong>556.000 Ar</strong>/mois</span-->
    </div>

    <div class="price">
      <span class="font-size-16">{{ article.cash | numberfr }} Ar</span>
    </div>

    <div class="item-split">
        <h2>{{ fiche?.titre }}</h2>
        <h3>{{ fiche?.soustitre }}</h3>
        <p>{{ fiche?.description }}</p>
    </div>

    <div class="item-split">
      <mat-card>
        <app-simulation-credit></app-simulation-credit>
      </mat-card>
    </div>

    <mat-card>
      <div *ngFor="let cat of ficheCategorie">
          <table id="caracteristique">
              <tr>
                <th colspan="2">
                  {{ cat.label.fr }}
                </th>
              </tr>
              <tr *ngFor="let ficheItem of filterFiche(cat?.fiche)">
                <td>
                    {{ ficheItem.label.fr }}
                </td>
                <td>
                  <span *ngIf="ficheItem.type === 'bool'">
                    {{ boolDisplay(fiche[ficheItem.key]) }}
                  </span>
                  <span *ngIf="ficheItem.type !== 'bool'">
                    {{ fiche[ficheItem.key] }}
                  </span>

                </td>
              </tr>
            </table>
      </div>
        
      <div>
          <button mat-raised-button class="pointer" routerLink="/banque">Je demande mon financement</button>
      </div>
    </mat-card>

  </div>
</div>
