.article-detail {
  padding: 15px;
}

.article-show-left img {
  width: 100%;
  margin-bottom: -4px;
}

.article-show-left h2 {
  color: var(--secondary-color);
}

.article-show-left h3 {
  color: #7b7b7b;
  margin-top: -15px;
}

.traite, .price {
  text-align: center;
  color: #FFFFFF;
  padding: 5px;
}

.traite {
  background-color: var(--secondary-color);
}

.price {
  background-color: var(--primary-color);
}

/* TABLEAU DEBUT */

#caracteristique {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}

#caracteristique td,
#caracteristique th {
  padding: 8px;
  color: #7b7b7b;
}

#caracteristique tr:nth-child(even){
  background-color: #f2f2f2;
}

#caracteristique th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #09242e;
  color: white;
}

.item-split {
  display: inline-block;
  width: 48%;
  min-height: 150px;
}
@media (max-width:641px)  {
  .item-split {
    display: block;
    width: 100%;
  }
}
