<!--
<div>
  <img [src]="article.image">
  <h1>{{article.titre}}</h1>
  <p>{{article.subtitle}}</p>
</div>
<table>
  <tr>
    <td>Marque</td>
    <td>{{article.informations.marque}}</td>
  </tr>
  <tr>
    <td>Medèle</td>
    <td>{{article.informations.modele}}</td>
  </tr>
  <tr>
    <td>Version</td>
    <td>{{article.informations.version}}</td>
  </tr>
  <tr>
    <td>Année</td>
    <td>{{article.informations.annee}}</td>
  </tr>
  <tr>
    <td>Mise en circulation</td>
    <td>{{article.informations.mise_en_circulation}}</td>
  </tr>
  <tr>
    <td>Kilomètrage</td>
    <td>{{article.informations.kilometrage}}</td>
  </tr>
  <tr>
    <td>Carrosserie</td>
    <td>{{article.informations.carrosserie}}</td>
  </tr>
  <tr>
    <td>Carburant</td>
    <td>{{article.informations.carburant}}</td>
  </tr>
  <tr>
    <td>Transmission</td>
    <td>{{article.informations.transmission}}</td>
  </tr>
  <tr>
    <td>Vitesse</td>
    <td>{{article.informations.vitesse}}</td>
  </tr>
  <tr>
    <td>Couleur</td>
    <td>{{article.informations.couleur}}</td>
  </tr>
  <tr>
    <td>Places</td>
    <td>{{article.informations.places}}</td>
  </tr>
  <tr>
    <td>Porte</td>
    <td>{{article.informations.porte}}</td>
  </tr>
  <tr>
    <td>Puissance fiscal</td>
    <td>{{article.informations.puissance_fiscal}}</td>
  </tr>
  <tr>
    <td>Puissance réel</td>
    <td>{{article.informations.puissance_reel}}</td>
  </tr>
  <tr>
    <td>Première main</td>
    <td>{{article.informations.premiere_main}}</td>
  </tr>
  <tr>
    <td>Emission co2</td>
    <td>{{article.informations.emission_co2}}</td>
  </tr>
  <tr>
    <td>Réference</td>
    <td>{{article.informations.reference}}</td>
  </tr>
</table>
<app-simulation-credit></app-simulation-credit>

<button routerLink="/banque">Je demande mon financement</button>
-->

<div class="article-detail">
  <div class="article-show-left">
    <img src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg">
    <div class="traite">
      <span>A partir de 556.000 Ar/mois</span>
    </div>
    <div class="price">
      <span>150.000.000 Ar</span>
    </div>
    <h2>Titre de l'article</h2>
    <h3>Sous titre</h3>
    <table id="caracteristique">
      <tr>
        <th>Caractéristiques</th>
        <th></th>
      </tr>
      <tr>
        <td>Marque</td>
        <td>{{article.informations.marque}}</td>
      </tr>
      <tr>
        <td>Medèle</td>
        <td>{{article.informations.modele}}</td>
      </tr>
      <tr>
        <td>Version</td>
        <td>{{article.informations.version}}</td>
      </tr>
      <tr>
        <td>Année</td>
        <td>{{article.informations.annee}}</td>
      </tr>
      <tr>
        <td>Mise en circulation</td>
        <td>{{article.informations.mise_en_circulation}}</td>
      </tr>
      <tr>
        <td>Kilomètrage</td>
        <td>{{article.informations.kilometrage}}</td>
      </tr>
      <tr>
        <td>Carrosserie</td>
        <td>{{article.informations.carrosserie}}</td>
      </tr>
      <tr>
        <td>Carburant</td>
        <td>{{article.informations.carburant}}</td>
      </tr>
      <tr>
        <td>Transmission</td>
        <td>{{article.informations.transmission}}</td>
      </tr>
      <tr>
        <td>Vitesse</td>
        <td>{{article.informations.vitesse}}</td>
      </tr>
      <tr>
        <td>Couleur</td>
        <td>{{article.informations.couleur}}</td>
      </tr>
      <tr>
        <td>Places</td>
        <td>{{article.informations.places}}</td>
      </tr>
      <tr>
        <td>Porte</td>
        <td>{{article.informations.porte}}</td>
      </tr>
      <tr>
        <td>Puissance fiscal</td>
        <td>{{article.informations.puissance_fiscal}}</td>
      </tr>
      <tr>
        <td>Puissance réel</td>
        <td>{{article.informations.puissance_reel}}</td>
      </tr>
      <tr>
        <td>Première main</td>
        <td>{{article.informations.premiere_main}}</td>
      </tr>
      <tr>
        <td>Emission co2</td>
        <td>{{article.informations.emission_co2}}</td>
      </tr>
      <tr>
        <td>Réference</td>
        <td>{{article.informations.reference}}</td>
      </tr>
    </table>
  </div>
  
  <div>
    <button routerLink="/banque">Je demande mon financement</button>
  </div>
</div>