<!--
<div>
  <img [src]="article.image">
  <h1>{{article.titre}}</h1>
  <p>{{article.subtitle}}</p>
</div>

<app-simulation-credit></app-simulation-credit>

<button routerLink="/banque">Je demande mon financement</button>
-->

<div class="article-detail">
  <div class="article-show-left">
    <div *ngIf="fiche.images && fiche.images.length > 0" class="img-wrapper img-wrapper--shadow">
        <img [src]="getImage(fiche.images[0])">
    </div>
    <div class="traite">
      <!--span>A partir de <strong>556.000 Ar</strong>/mois</span-->
    </div>
    <div class="price">
      <span>{{ fiche.cash }} Ar</span>
    </div>
    <h2>{{ fiche.titre }}</h2>
    <h3>{{ fiche.soustitre }}</h3>
    <p>{{ fiche.description }}</p>
    <div *ngFor="let cat of ficheCategorie">
        <table id="caracteristique">
            <tr>
              <th colspan="2">
                {{ cat.label.fr }}
              </th>
            </tr>
            <tr *ngFor="let ficheItem of cat?.fiche">
              <td>
                  {{ ficheItem.label.fr }}
              </td>
              <td>
                  {{ fiche[ficheItem.key] }}
              </td>
            </tr>
          </table>
    </div>
    
  </div>
  
  <div>
    <app-simulation-credit></app-simulation-credit>
    <button routerLink="/banque">Je demande mon financement</button>
  </div>
</div>