<div>
  &nbsp;&nbsp;
</div>
<mat-card>
  <mat-list>
    <mat-list-item>
      <b>Primora</b>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Adresse
    </mat-list-item>
    <mat-list-item>
      Antananarivo
    </mat-list-item>
    <mat-list-item>
      Madagascar
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Tel: 033 00 000 00
    </mat-list-item>
    <mat-list-item>
      Email: ...@...com
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Réseau sociaux:
    </mat-list-item>
  </mat-list>
</mat-card>

<div>&nbsp;</div>
<mat-divider></mat-divider>
<div>&nbsp;</div>

<mat-card>
  <div class="example-container">
    <mat-card-title>
      Contactez-nous
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Votre email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Votre nom">
      </mat-form-field>
      <mat-form-field>
        <textarea rows="10" matInput placeholder="Votre message"></textarea>
      </mat-form-field>
      <button
        class="pointer"
        mat-raised-button
        >Envoyer</button>
    </mat-card-content>
  </div>

</mat-card>
