<header>
  <div [ngClass]="{'topnav': true, 'responsive': menuDisplay}">
    <a class="logo" [routerLink]="['/accueil']">PRIMORA</a>
    <a [routerLink]="['/accueil']" routerLinkActive="active">Accueil</a>
    <a [routerLink]="['/ajouter']" routerLinkActive="active">Vendre</a>
    <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
    <div class="search-container">
      <app-simple-search class="search rapid-search"></app-simple-search>
    </div>
    <a class="icon search-icon pointer" (click)="toggleMenu()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</header>
<a ng-class="getClass('/tasks')" href="/tasks">Tasks</a>