.article {
  margin: 1em;
  padding: 1em 0;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-bottom: 3px solid #fc510d;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.article-mensualite {
  background-color: #2e88c2;
  padding: 0.1em 0;
  color: white;
}
.article-cash {
  background-color: #000000;
  padding: 0.1em 0;
  color: white;
}
.article-titre {
  font-weight: bolder;
  padding: 0.2em 0;
  text-transform: uppercase;
}
.article-description {
  padding: 0.2em 0;
  text-transform: uppercase;
}
.blank-image {
  width: 170px;
  height: 170px;
  background-color: #A6A6A6;
  display: inline-block;
}
