<mat-card
  class="owl-item active text-left pointer"
  [routerLink]="['/article' , article.uuid]"
  role="button"
  tabindex="0"
>
  <div class="our-tours-list-item">

    <div *ngIf="article.images && article.images.length > 0" class="img-wrapper img-wrapper--shadow">
      <div class="blank-image"
           [style.backgroundImage]="'url('+ getImage(article.images[0]) +')'"></div>
    </div>
    <div *ngIf="!article.images || article.images.length === 0" class="img-wrapper img-wrapper--shadow">
      <div class="blank-image"></div>
    </div>
    <mat-card-content class="our-tours-list-item-description">
      <h3>{{ article.titre }}</h3>
      <p>{{ article.soustitre }}</p>

      <div class="our-tours-price">
        A partir de
        <span class="font-size-14 mensualite">{{ article.mensualite }} Ar</span>
        / mois
      </div>
      <div class="our-tours-price">
        <span class="font-size-18">{{ article.cash | numberfr }} Ar</span>
      </div>
    </mat-card-content>
  </div>
</mat-card>
