<div>
  <h2>
    Créer votre compte
  </h2>

  <div class="bankForm-form">
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Nom">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Adresse">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Téléphone">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Carte bancaire">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Email ">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Mot de passe">
      </mat-form-field>
    </mat-card>
    
    <mat-card>
      <div>
        <button mat-raised-button class="pointer">S'enregistrer</button>
      </div>
    </mat-card>

  </div>
</div>

