<div>
  <h2>
    Login
  </h2>

  <div class="bankForm-form">
    <mat-card>
      <mat-form-field>
        <input matInput type="email" placeholder="Email">
      </mat-form-field>
    </mat-card>
    
    <mat-card>
      <mat-form-field>
        <input matInput type="password" placeholder="Mot de passe">
      </mat-form-field>
    </mat-card>
    
    <mat-card>
      <div>
        <button mat-raised-button class="pointer">Se connecter</button>
        <a class="login" [routerLink]="['/register']">S'enregistrer</a>
      </div>
    </mat-card>

  </div>
</div>

