<div>
  <Span>Simuler mon crédit</Span>
  <ul>
    <li><mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider></li>
    <li><mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider></li>
  </ul>
  <!--ul>
    <li><input class="form-control ng-valid ng-scope ng-dirty" ngmodel="color.r" label="R" type="range" min="0" max="255" step="1" ng-model="color.r" value="0"></li>
    <li><input class="form-control ng-valid ng-scope ng-dirty" ngmodel="color.r" label="R" type="range" min="0" max="255" step="1" ng-model="color.r"></li>
  </ul-->
  
</div>
