<div>
  <h2>
    Demande de financement
  </h2>

  <div class="bankForm-form">
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Prêteur">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Personne servant de garantie">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Demande">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Objet">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Modalité ">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Moyen de remboursement">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Description de la garantie">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Valeur de la garantie">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>Photocopie CIN</mat-card-subtitle>
      <app-upload-file></app-upload-file>
    </mat-card>

    <mat-card>
      <div>
        <button mat-raised-button class="pointer">Envoyer</button>
      </div>
    </mat-card>

  </div>
</div>
