.filter-container {
  margin: 1em;
  background-color: #fff;
  padding-bottom: 1em;
}
.filter-container header {
  background-color: #09242e;
  border-radius: 4px 4px 0 0;
  color: #fff;
  padding: 1em;
}
.filter-body {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border: 1px solid #e6e6e6;
  border-bottom: 3px solid #2e88c2;
}
.filter-item {
  margin: 0.2em;
  display: inline-block;
  width: calc(100% - 1em);
}
.block50 {
  display: inline-block;
  width: calc(50% - 2em);
}
.margin-05 {
  margin: 0.5em 0 0.5em 0;
}
.label-prix {
  font-size: 0.8em;
}
.recherche-button-container {
  text-align: center;
}

@media screen and (max-width: 320px) {
  .block50 {
    display: block;
    width: calc(100% - 2em);
  }
}
@media (min-width:320px) {
  .filter-item {
    display: inline-block;
    width: calc(100% - 1em);
  }
}
@media (min-width:481px)  {
  .filter-item {
    display: inline-block;
    width: calc(50% - 1em);
  }

  .margin-05 {
    margin: 0.5em;
  }
}
@media (min-width:641px)  {
  .filter-item {
    display: inline-block;
    width: calc(33.33% - 1em);
  }
}
@media (min-width:961px)  {
  .filter-item {
    display: inline-block;
    width: calc(25% - 1em);
  }
}
@media (min-width:1025px) {
  .filter-item {
    display: inline-block;
    width: calc(20% - 1em);
  }
}
@media (min-width:1281px) {
  .filter-item {
    display: inline-block;
    width: calc(16.666% - 1em);
  }
}
@media (min-width: 1650px) {
  .filter-item {
    display: inline-block;
    width: calc(16.666% - 1em);
  }
}
