<div class="filter">
  <div>
      <select >
        <option value="">Type de produit</option>
        <option value="128628c0-9a15-11e8-a0ed-0024d7ada560">Voiture</option>
        <option value="996324e6-9a37-11e8-9aac-402cf41335ad">Maison</option>
        <option value="c6e5a3c0-9a33-11e8-9aac-402cf41335ad">Terrain</option>
      </select>
  </div>
  <div>
    <select>
      <option value="">Mensualité</option>
      <option>1 000 000 Ar/mois</option>
      <option>2 000 000 Ar/mois</option>
      <option>3 000 000 Ar/mois</option>
    </select>
  </div>
  <div>
    <select>
      <option value="">Durée</option>
      <option>1 mois</option>
      <option>2 mois</option>
      <option>3 mois</option>
    </select>
  </div>
  <div>
        <label>PRIX</label>
        <div>
          <select>
            <option>3 000 000</option>
            <option>4 000 000</option>
            <option>5 000 000</option>
          </select>
        </div>
        <div>
          <select>
            <option>6 000 000</option>
            <option>7 000 000</option>
            <option>8 000 0003</option>
          </select>
        </div>
  </div>
</div>
