* {
  box-sizing: border-box
}
.filtre{
  width: 100%;
}

ul li{
  border: none;
}
.recherche-rapide li{
list-style-type: none;
margin: 0;
float: left;
text-align: center;
}

.sky-form {
  height: 100px;
  background: grey; 
}
.sky-form ul li{
  /* height: 100px;
  line-height: 100px; */
}
ul{
  margin: 0;
  padding: 0;
}

ul label{
  text-align: left;
}

ul.double li{
  width: 50%;
}
@media screen and (max-device-width: 1920px){
	.recherche-rapide li{
      width: 16.6% ;
      padding: 0.5%;
    }
}

@media screen and (max-device-width: 1650px){
	.recherche-rapide li{
      width: 16.6% ;
      padding: 0.5%;
    }
}
@media screen and (max-device-width: 1650px){
	.recherche-rapide li{
      width: 16.6% ;
      padding: 0.5%;
    }
}


@media screen and (max-device-width: 1650px){
	.recherche-rapide li{
      width: 16.6% ;
      padding: 0.5%;
    }
}

@media screen and (max-device-width: 1281px){
	.recherche-rapide li{
      width: 16.6% ;
      padding: 0.5%;
    }
}
@media screen and (max-device-width: 1025px){
	.recherche-rapide li{
      width: 16.6% ;
      padding: 0.5%;
    }
}
@media screen and (max-device-width: 961px){
	.recherche-rapide li{
      width: 16.6% ;
      padding: 0.5%;
    }
}
@media screen and (max-device-width: 641px){
	.recherche-rapide li{
      width: 16.6% ;
    }
}
@media screen and (max-device-width: 481px){
	.recherche-rapide li{
  }
}
@media screen and (max-device-width: 320px) {

  .recherche-rapide li{
    width: 100%;
    float: none;
    }
}
