<div class="filter-container">
  <header>
    Recherchez une annonce
  </header>
  <div class="filter-body text-center">
    <div class="filter-item">
      <select [(ngModel)]="formData.categorie">
        <option *ngFor="let cat of categorie" [value]="cat.uuid">{{ cat.nom }}</option>
      </select>
    </div>
    <div class="filter-item">
      <select [(ngModel)]="formData.mensualite">
        <option *ngFor="let mens of mensualite" [value]="mens.value">{{ mens.nom }}</option>
      </select>
    </div>
    <div class="filter-item">
      <select [(ngModel)]="formData.duree">
        <option *ngFor="let d of duree" [value]="d.value">{{ d.nom }}</option>
      </select>
    </div>
    <div class="filter-item">
        <label class="label-prix">Prix</label>
        <div class="block50 margin-05">
          <select [(ngModel)]="formData.prix_min">
            <option value="-">De</option>
            <option>3 000 000</option>
            <option>4 000 000</option>
            <option>5 000 000</option>
          </select>
        </div>
        <div class="block50 margin-05">
          <select [(ngModel)]="formData.prix_max">
            <option value="-">A</option>
            <option value="6000000">6 000 000</option>
            <option value="7000000">7 000 000</option>
            <option value="8000000">8 000 000</option>
          </select>
        </div>
    </div>
    <div class="recherche-button-container">
      <button class="pointer" (click)="search()">Rechercher</button>
    </div>
  </div>
</div>
